.search-bar_container {
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
}

.search-bar_in_stock_checkbox {
  margin-top: 5px;
}

.table-header {
  background-color: #555;
  color: white;
}

.table-row {
  border-bottom: 1px solid #555;
}

.table-row:hover {
  background-color: #444;
}
